    /* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
        box-sizing: border-box;
        /*reset Chrome user agent styles*/
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0px;
        -webkit-padding-after: 0px;
        -webkit-padding-start: 0px;
        -webkit-padding-end: 0px;
    }
    /* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

    h1 {
        text-align: center;
    }

    li {
        list-style-type: none;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.3rem;
        margin-top: .8rem;
    }

    button {
        background-color: transparent;
    }
    /* Header styles
(all the styles inside the < header > or < nav > tags)
*/

    .top-nav {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        background-color: #9068BE;
    }

    .top-nav .content {
        margin: 0 auto;
        padding: 20px 20px;
    }
    /* Content styles
(all the styles inside the < sections > or < aside > tags) */

    .list-content {
        padding: 0px 30px;
        min-height: 30rem;
    }

    .cart {
        height: 5rem;
        display: block;
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .add {
        height: 1.9rem;
        float: right;
        margin-right: .75rem;
        margin-top: .23rem;
    }

    .inputs {
        margin: 0 auto;
        width: 14rem;
        margin-bottom: 3rem;
    }

    input[type="text"] {
        display: block;
        margin: 0 auto;
        width: 75%;
        font-family: sans-serif;
        font-size: 0.8rem;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        padding: 10px;
        color: black;
        background-color: #E1E8FO;
        border: solid 1px #9068Be;
        transition: border 0.3s;
    }

    .current-list {
        margin-bottom: 3rem;
    }

    .current-list h1 {
        color: #9068BE;
        font-size: 2rem;
    }

    .trash {
        float: right;
    }

    .check {
        float: left;
    }

    .clear-all {
        margin-bottom: 2rem;
    }

    .clear-content {
        margin: 0 auto;
        text-align: center;
    }

    .clear-all h2 {
        display: inline-block;
        font-size: 1.5rem;
        color: #E62739;
        margin-left: .3rem;
    }

    .clear-all .fa-trash {
        font-size: 2rem;
        color: red;
    }

    .ticked {
        text-decoration: line-through;
        color: gray;
    }
    /* Footer styles
(all the styles inside the < footer > tag)
*/

    .bot-nav {
        width: 100%;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        background-color: #6Ed3Cf;
    }

    .bot-nav-content {
        margin: 0 auto;
        padding: 30px 30px;
    }

    .bot-nav-content h3 {
        text-align: center;
    }
    /* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
